{% extends "base_template.html" %}
{% load static %}

{% block content %}

<style>
        img{
            border-radius: 25px;
        }

        .image_resized {
            width: 100%; 
            margin: 0 auto; 
        }

        figure {
            text-align: center;
        }

       
</style>

<main class="main-content">
    <section class="section-space pb-0">
        <div class="container mt-4">
            <div class="row">
                <!-- Image column -->

                
                <!-- Title column -->
                <div class="col-md-12 col-sm-12 custom-right">
                    <div class="blog-detail">
                        <h2 class="blog-detail-title">{{ blog_data.blog_title }}</h2>
                        <div class="blog-detail-category">
                            <a class="category" href="blog.html">beauty</a>
                            <a class="category" href="blog.html">Fashion</a>
                        </div>
                        <div class="blog-detail-meta">


                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Simplified comment form -->
            
             
                <div class="blog-comment-form-wrap">
                    <div class="container">
                        {{ blog_data.blog_description|safe }}
    
                    </div>
                </div>
            
         
        </div>
    </section>

    <!-- Simplified blog posts section -->
    <br><br>
</main>
<!--== Start Aside Menu ==-->
<aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h1 class="d-none" id="offcanvasExampleLabel">Aside Menu</h1>
        <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i
                class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
        <div id="offcanvasNav" class="offcanvas-menu-nav">
            <ul>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">home</a>
                    <ul>
                        <li><a href="index.html">Home One</a></li>
                        <li><a href="index-two.html">Home Two</a></li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="about-us.html">about</a></li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">shop</a>
                    <ul>
                        <li><a href="#" class="offcanvas-nav-item">Shop Layout</a>
                            <ul>
                                <li><a href="product.html">Shop 3 Column</a></li>
                                <li><a href="product-four-columns.html">Shop 4 Column</a></li>
                                <li><a href="product-left-sidebar.html">Shop Left Sidebar</a></li>
                                <li><a href="product-right-sidebar.html">Shop Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="offcanvas-nav-item">Single Product</a>
                            <ul>
                                <li><a href="product-details-normal.html">Single Product Normal</a></li>
                                <li><a href="product-details.html">Single Product Variable</a></li>
                                <li><a href="product-details-group.html">Single Product Group</a></li>
                                <li><a href="product-details-affiliate.html">Single Product Affiliate</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="offcanvas-nav-item">Others Pages</a>
                            <ul>
                                <li><a href="product-cart.html">Shopping Cart</a></li>
                                <li><a href="product-checkout.html">Checkout</a></li>
                                <li><a href="product-wishlist.html">Wishlist</a></li>
                                <li><a href="product-compare.html">Compare</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">Blog</a>
                    <ul>
                        <li><a class="offcanvas-nav-item" href="#">Blog Layout</a>
                            <ul>
                                <li><a href="blog.html">Blog Grid</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">Pages</a>
                    <ul>
                        <li><a href="account-login.html">My Account</a></li>
                        <li><a href="faq.html">Frequently Questions</a></li>
                        <li><a href="page-not-found.html">Page Not Found</a></li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</aside>
<!--== End Aside Menu ==-->

{% endblock %}